doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/stylesheets/list.css')
    body
        h1 Directors of movies starring Brad Pitt
        div
            ul
                each val in data
                    li= val.director.label
