doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/stylesheets/list.css')
        title Error 500
    body
        h1 Encountered error 500
        p This page was generated using error500alt.pug.