<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Internal server error</title>
    <meta name="description" content="Internal server error">

    <link rel="stylesheet" href="/stylesheets/error500.css">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
</head>

<body class="loading">
<h1>500</h1>
<h2>Unexpected Error <b>:(</b></h2>
<div class="gears">
    <div class="gear one">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear two">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="gear three">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div>
<div>
    <img src="https://i.ibb.co/fdwfT76/woodcutter.png">
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="/javascript/error500.js" type="text/javascript"></script>
</body>
</html>