doctype html
html(lang="en")
    head
        link(rel='stylesheet', href='/stylesheets/list.css')
        title Error 404
    body
        h1 Encountered error 404
        p This page was generated using error404alt.pug.
