<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Page not found</title>
    <meta name="description" content="Page not found">

    <link rel="stylesheet" href="/stylesheets/error404.css">

</head>

<body class="bg-purple">
<div class="stars">
    <div class="central-body">
        <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
    </div>
    <div class="objects">
        <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">

        <div class="earth-moon">
            <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
            <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
        </div>
        <div class="box_astronaut">
            <img class="object_astronaut"
                 src="https://i.ibb.co/fdwfT76/woodcutter.png"
                 width="140px">
        </div>
    </div>
    <div class="glowing_stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
</div>
</body>
</html>



