<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='/stylesheets/list.css'>
</head>
<body>
<h1>Movies and directors</h1>
<div>
    <ul>
        {{#each data}}
            <li>{{this.label}} - {{this.director.label}}</li>
        {{/each}}
    </ul>
</div>
</body>
</html>
