<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/stylesheets/list.css'>
</head>
<body>
<h1>Songs & Movies</h1>
<div>
  <ul>
    {{#each data.[1]}}
      {{#if this.id}}
        <li>{{this.id}}</li>
      {{/if}}
    {{/each}}
  </ul>
</div>
<div>
  <ul>
    {{#each data.[0]}}
      {{#if this.label}}
        <li>{{this.label}}</li>
      {{/if}}
    {{/each}}
  </ul>
</div>
</body>
</html>
