<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href='/stylesheets/list.css'>
</head>
<body>
<h1>Songs & Movies</h1>
<h2>Movies</h2>
<div>
  <ul>
    {{#each films}}
        <li>{{this.subject.id}}</li>
    {{/each}}
  </ul>
</div>
<h2>Songs</h2>
<div>
  <ul>
    {{#each songs}}
        <li>{{this.subject.id}}</li>
    {{/each}}
  </ul>
</div>
</body>
</html>
